.container{
   min-height: 100vh;
}

body{
   background-image: url(/images/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

h1,
h4,
h2{
   font-weight: bolder;
}

h1,
p,
h4,
blockquote,
h2,
br,
a{
   color: purple;
}

.prod-container{
   box-sizing: border-box;
   color: purple;
}

.category-active{
   background-color: rgb(216, 92, 216, 25%);
}

.category{
   border: 1px solid purple;
   background-color: rgb(245, 215, 245, 25%);
}

.navbar{
   position:fixed;
   top: 0;
   left: 0;
   background-color: rgb(128, 0, 128, 25%);
   color: purple;
   font-weight: bolder;
   font-size: large;
   min-width: 100%;
   padding-left: 15%;
   text-align: center;
   z-index: 100;
   .m{
      padding-right: 3.5rem !important;
      font-weight: bolder;
      font-size: 1.5em;
   }
}

main{
   margin-top: 100px;
   padding-bottom: 230px;
}

.logo {
   background-color:  rgb(216, 92, 216, 33%);
   color:purple;
   vertical-align: top;
   position: absolute;
   width: 54%;
   z-index: 1001;
   top: 250px;
   right: 30px;
   font-size: 5em;
   font-weight: bolder;
   padding-left: 2%;
}

.about{
   margin: 2%;
   padding: 2%;
   font-size: 1.25em;
   font-weight: bolder;
   background-color: rgb(199, 145, 199, 33%);
   border-radius: 10px;

}





